* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  border-bottom: 1.5px solid #d2d6ff;
  background: linear-gradient(to bottom right, rgb(215, 247, 255), rgb(214, 213, 255));
}