.navigationContainer {
    display: flex;
    justify-content: space-between;
}
.navLink {
    text-decoration: none;
    margin-left: 20px;
}
.active {
    color: #262626;
}
.navLink:hover {
    color: #262626;
}
.navLink:focus {
    color: #262626;
}

.homeContactsPagesLink {
    display: flex;
    gap: 15px;
}